<div class="panel-footer overlay footer-text">
  <a id="linkedin-link" href="https://www.linkedin.com/in/alexander-wilson-b2b46752/" target="_new">
    <img id="linkedin-logo" class="li-logo-size" src="./../../assets/linkedin-logo.png" alt="Linked In">
  </a>
  <a id="github-link" href="https://github.com/CodeByAlex" target="_new">
    <img id="github-logo" class="gh-logo-size" src="./../../assets/github-logo.png" alt="Github">
  </a>
  <a id="twitter-link" href="https://twitter.com/codebyalex" target="_new">
    <img id="twitter-logo" class="li-logo-size" src="./../../assets/twitter-logo.png" alt="Twitter">
  </a>
</div>
