<div id="about" class="section-style overlay-white">
  <div class="container">
    <div class="row">
      <div class="text-center col-xs-12
                col-md-offset-2 col-md-8 col-md-offset-2">
        <h1>
          About
        </h1>
        <hr>
      </div>
    </div>

    <div class="row">
      <!--<div class="text-right-->
                  <!--col-xs-12-->
                  <!--col-sm-4">-->
        <!--<div class="center-mobile-text">-->
          <!--<h3>Education</h3>-->
          <!--<p><b>Degree:</b> Bachelor of Science, Computer Science <br>-->
            <!--<b>College:</b> Towson University, Towson, MD <br>-->
            <!--<b>Concentration:</b> Software Engineering<br>-->
            <!--<b>Minor:</b> Music-->
          <!--</p>-->
        <!--</div>-->
      <!--</div>-->
      <div class="text-right
                  col-xs-12
                  col-sm-6 padding-20px center-mobile-text">
        <img src="./../../assets/alex-pic.jpg" class="size-50 site-profile-img">
      </div>

      <div class="col-xs-12
                  col-sm-6
                  col-md-4 center-mobile-text
                  center-mobile-text">
        <h3>Hello! I'm Alex</h3>
        <p>
          I am a passionate full stack developer who enjoys the hunt for the optimal solution.
          Over the years, I have gained an appreciation for well written code.
          The end product should look like a work of art and perform like a well oiled machine.
          I strive to meet these standards and to learn as much as I can to go a step above.
          If you can't find me at a Meetup group in Maryland, you might find me at an O's game, enjoying crabs, or walking the historic streets of Baltimore.
        </p>
      </div>

    </div>
  </div>
</div>
