<div id="about" class="section overlay-white">
  <div class="container">

    <h1 class="text-center">
      About
    </h1>

    <hr>

    <div class="row">

      <div class="text-center
                  col-xs-12
                  col-sm-7 padding-20px">
        <img src="./../../assets/alex-pic.jpg" class="size-50 site-profile-img">
        <!--<img src="https://arawal.files.wordpress.com/2015/07/flat-faces-icons-circle-3.png?w=1024" class="size-50">-->
      </div>

      <div class="col-xs-12
                  col-sm-5
                  col-md-4 col-md-offset-right-1">
        <p class="font-18px"><b>Hello! I'm Alex.</b></p>
        <p>A web development course in high school drew me into the CS field where I found a passion for developing creative software solutions for difficult life challenges.
          Since then, I have recieved a Bachelors of Science degree in Computer Science from Towson University and have enhanced my programming expertise with each position that I have held.
          I now live in Maryland, enjoying crabs, Oriole's games, and the historic streets of Baltimore.</p>
      </div>

    </div>
  </div>
</div>
