.size-50{
  width: 210px;
  height: 210px;
}

.font-18px{
  font-size: 18px;
  font-weight: 100;
}

.padding-20px{
  padding-bottom: 10px;
  padding-top: 20px;
}

.site-profile-img {
  border-radius: 200px;
  /*display: block;*/
  margin: 0 auto;
  box-sizing: border-box;
  /*border: 10px solid #cfd8dc;*/
}

@media (max-width: 768px) {
  .center-mobile-text{
    text-align: center;
  }
}
