.comp-logo-size {
  height: 100px;
  width: 100px;
}
.title-size {
  font-size: 20px;
  font-weight: 500;
}
.service_box {
  height: 310px;
  margin: 43px 15px;
  padding: 30px 5px;
  text-align: center;
  vertical-align:middle;
  color: white;
  background: #7095ab;
  transition: all 0.30s ease 0s;
  box-shadow: 4px 4px 5px lightgrey;
}
.service_box:hover {
  background: #e35a2e;
  transform: scale(1.05);
}
.service_box .service_icon {
  width: 70px;
  height: 70px;
  font-size: 35px;
  background: #fff;
  line-height: 70px;
  border-radius: 50px;
  margin: -67px auto 0px auto;
}
.service_box .service_icon i {
  color: #333;
  top: -25px;
}
.service_box h3 {
  position: relative;
  margin: 0;
  color: #fff;
  font-size: 23px;
  text-transform: uppercase;
  margin: 35px auto;
}
.service-box-text {
  padding-right: 5px;
  padding-left: 5px;
}

/* Buttons styles */

.btn-gray {
  background: white;
  color: #808080;
  font-size: 0.9375em;
  padding: 0.5375em 1.375em;
  display: inline-block;
  outline: none;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  font-weight: 300;
  letter-spacing: 1px;
  vertical-align: middle;
  border: 1px solid;
  transition: all 0.2s ease;
  box-sizing: border-box;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.01);
}

.btn-clear {
  background: transparent;
  color: white;
  font-size: 0.9375em;
  padding: 0.5375em 1.375em;
  display: inline-block;
  outline: none;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  font-weight: 300;
  letter-spacing: 1px;
  vertical-align: middle;
  border: 1px solid;
  transition: all 0.2s ease;
  box-sizing: border-box;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.01);
}

@keyframes fade-in-animation {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out-animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.fade-in {
  animation: fade-in-animation 1s;
}
.fade-out {
  animation: fade-out-animation 1s;
  display: none;
}
@media (max-width: 768px) {
  .mobile-hover .service_box {
    background: #e35a2e;
    transform: scale(1.05);
  }
}

.exit {
  /* background: teal; */
  width: 60px;
  height: 60px;
  position: relative;
  padding-top: 15px;
}
.exit:after {
  content: '';
  height: 30px;
  border-left: 2px solid black;
  position: absolute;
  transform: rotate(45deg);
  left: 28px;
}

.exit:before {
  content: '';
  height: 30px;
  border-left: 2px solid black;
  position: absolute;
  transform: rotate(-45deg);
  left: 28px;
}

a {
  text-decoration: none;
}
