<div class="section-style overlay-white">
    <div class="container">
      <div id="experience-default" [ngClass]="currentIndex==ALL_EXPERIENCE_INDEX? 'fade-in':'fade-out'">
          <div class="row">
            <div class="text-center col-xs-12
                      col-md-offset-2 col-md-8 col-md-offset-2">
              <h1>
                Experience
              </h1>
              <hr role="presentation">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4" [ngClass]="focusedElement =='front-end-service-box'? 'mobile-hover':''">
                <div id="front-end-service-box" class="service_box">
                  <div class="service_icon">
                    <i class="fa fa-code" aria-hidden="true"></i>
                  </div>
                  <h3>Front End<br>Development</h3>
                  <p class="service-box-text">Memorable experiences created using HTML, CSS, and Javascript</p>
                  <a href="#experience" aria-label="Click here to learn more about Alex's front end development experience" 
                      (click)="switchSectionView(FRONT_END_SECTION_INDEX)" class="btn btn-medium btn-gray">
                      Learn More
                  </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4" [ngClass]="focusedElement =='back-end-service-box'? 'mobile-hover':''" >
              <div id="back-end-service-box" class="service_box">
                <div class="service_icon">
                  <i class="fa fa-database" aria-hidden="true"></i>
                </div>
                <h3>Back End<br>Development</h3>
                <p class="service-box-text">Everything that you cant see which orchestrates the functionality of your website</p>
                <a href="#experience" aria-label="Click here to learn more about Alex's backend end development experience" 
                    (click)="switchSectionView(BACK_END_SECTION_INDEX)" class="btn btn-medium btn-gray">
                    Learn More
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4" [ngClass]="focusedElement =='ux-service-box'? 'mobile-hover':''" >
              <div id="ux-service-box" class="service_box">
                <div class="service_icon">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <h3>User Centered<br>Design</h3>
                <p class="service-box-text">Research backed designs that cause the user to forget that they are looking at a screen</p>
                <a href="#experience" aria-label="Click here to learn more about Alex's user centered design experience" 
                    (click)="switchSectionView(UX_SECTION_INDEX)" class="btn btn-medium btn-gray">
                    Learn More
                </a>
              </div>
            </div>
          </div>
      </div>

      <div id="experience-types">

        <div id="experience-front-end" [ngClass]="currentIndex==FRONT_END_SECTION_INDEX? 'fade-in':'fade-out'">
          <div class="row">
            <h3 class="col-xs-9 col-sm-11 text-left">Front End</h3>
            <a href="#experience" (click)="switchSectionView(ALL_EXPERIENCE_INDEX)" class="col-xs-2 col-sm-1">
              <div class="exit" aria-hidden="true"></div>
            </a>
          </div>
          <hr role="presentation">

          <div class="col-xs-12" *ngFor="let frontEndExperience of frontEndExperiences" >
            <h4>{{frontEndExperience?.project}}</h4>
            <p>
              <ng-container *ngIf="frontEndExperience?.skillset">
                <b>Skillset:</b> {{frontEndExperience.skillset.join(", ")}}
                <br>
              </ng-container>
              <ng-container *ngIf="frontEndExperience?.company">
                <b>Company:</b> {{frontEndExperience.company}}
              </ng-container>
            </p>
            <ul *ngIf="frontEndExperience?.details">
              <li *ngFor="let detail of frontEndExperience.details" [innerHTML]="detail"></li>
            </ul>
            <br>
          </div>
        </div>

        <div id="experience-back-end" [ngClass]="currentIndex==BACK_END_SECTION_INDEX? 'fade-in':'fade-out'">
          <div class="row">
            <h3 class="col-xs-9 col-sm-11 text-left">Back End</h3>
            <a href="#experience" (click)="switchSectionView(ALL_EXPERIENCE_INDEX)" class="col-xs-2 col-sm-1">
              <div class="exit" aria-hidden="true"></div>
            </a>
          </div>
          <hr role="presentation">
          <div class="col-xs-12" *ngFor="let backEndExperience of backEndExperiences" >
            <h4>{{backEndExperience?.project}}</h4>
            <p>
              <ng-container *ngIf="backEndExperience?.skillset">
                <b>Skillset:</b> {{backEndExperience.skillset.join(", ")}}
                <br>
              </ng-container>
              <ng-container *ngIf="backEndExperience?.company">
                <b>Company:</b> {{backEndExperience.company}}
              </ng-container>
            </p>
            <ul *ngIf="backEndExperience?.details">
              <li *ngFor="let detail of backEndExperience.details" [innerHTML]="detail"></li>
            </ul>
            <br>
          </div>
        </div>

        <div id="experience-ux" [ngClass]="currentIndex==UX_SECTION_INDEX? 'fade-in':'fade-out'">
          <div class="row">
            <h3 class="col-xs-9 col-sm-11 text-left">User Centered Design</h3>
            <a href="#experience" (click)="switchSectionView(ALL_EXPERIENCE_INDEX)" class="col-xs-2 col-sm-1">
              <div class="exit" aria-hidden="true"></div>
            </a>
          </div>
          <hr role="presentation">

          <div class="col-xs-12" *ngFor="let designExperience of designExperiences" >
            <h4>{{designExperience?.project}}</h4>
            <p>
              <ng-container *ngIf="designExperience?.skillset">
                <b>Skillset:</b> {{designExperience.skillset.join(", ")}}
                <br>
              </ng-container>
              <ng-container *ngIf="designExperience?.company">
                <b>Company:</b> {{designExperience.company}}
              </ng-container>
            </p>
            <ul *ngIf="designExperience?.details">
              <li *ngFor="let detail of designExperience.details" [innerHTML]="detail"></li>
            </ul>
            <br>
          </div>
        </div>
        
      </div>
    </div>
</div>
