<div id="experience" class="section overlay-white">
  <div class="container">
    <h1 class="text-center">
      Experience
    </h1>

    <div *ngFor="let role of roles">
      <hr>
      <div class="row">
        <!--<div class="col-sm-2 col-xs-12 text-center">-->
          <!--<img src="{{role.imageLoc}}" class="comp-logo-size">-->
        <!--</div>-->
        <div class="col-sm-5 col-xs-12 text-center">
          <div class="title-size">{{role.position}}</div>
          <p>{{role.company}}</p>
          <p>{{role.startDate}} - {{role.endDate}}</p>
        </div>
        <div class="col-sm-7">
          <ul>
            <li *ngFor="let res of role.responsibilities">{{res}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
