textarea {
  resize:none;
}

/* Fade-In Effect */
.visible-trans {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
  vertical-align: middle;
}
/* Fade-Out Effect */
.hidden-trans {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
  vertical-align: middle;
}

.flex-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  /*text-align: center;*/
}

.logo-size{
  width: 30px;
  height: 30px;
}

hr{
  border: 1px solid lightgray;
}