<div id="contact" class="section overlay-cream">
  <div class="container text-color">
    <!--<div class="row">-->
    <div class="col-xs-12
                col-md-offset-2 col-md-8 col-md-offset-2">
      <h1 class="text-center">
        Contact
      </h1>
      <hr>
    </div>
  <!--</div>-->
<!--<div class="row">-->
    <!--<div class="flex-container col-xs-12">-->
      <!--<form id="contact-form" class="col-xs-12 col-sm-offset-3 col-sm-6 col-sm-offset-3" [ngClass]="(submitted==true)? 'hidden-trans':'visible-trans'" [formGroup]="contactForm" (ngSubmit)="onSubmit()">-->
    <!--<div class="text-center col-xs-12 col-sm-offset-3 col-sm-6 col-sm-offset-3" [ngClass]="submitted==true? 'visible-trans':'hidden-trans'">-->
      <!--<h4>Thank You For Your Submission!</h4> {{submitted}}-->
    <!--</div>-->
    <form id="contact-form" class="col-xs-12 col-sm-offset-3 col-sm-6 col-sm-offset-3" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="row fade-out">
          <div class="form-group" [ngClass]="{'has-error':!contactForm.controls['contact-name'].valid && contactForm.controls['contact-name'].touched}">
            <label for="contact-name">Name*</label>
            <input type="text"
                   id="contact-name"
                   class="form-control"
                   [ngModel]="contactInfo.name"
                   formControlName="contact-name"
                   placeholder="What your friends call you...">
            <app-error-messages [control]="contactForm.controls['contact-name']"></app-error-messages>
          </div>
        </div>
        <div class="row">
          <div class="form-group" [ngClass]="{'has-error':!contactForm.controls['contact-email'].valid && contactForm.controls['contact-email'].touched}">
            <label for="contact-email">Email*</label>
            <input type="email"
                   id="contact-email"
                   class="form-control"
                   [ngModel]="contactInfo.email"
                   formControlName="contact-email"
                   placeholder="YourEmail@email.com">
            <app-error-messages [control]="contactForm.controls['contact-email']"></app-error-messages>
          </div>
        </div>
        <div class="row">
          <div class="form-group" [ngClass]="{'has-error':!contactForm.controls['contact-phone-number'].valid && contactForm.controls['contact-phone-number'].touched}">
            <label for="contact-phone-number">Phone</label>
            <input type="text"
                   id="contact-phone-number"
                   class="form-control"
                   (ngModelChange)="contactInfo.phone=$event"
                   [ngModel]="contactInfo.phone"
                   formControlName="contact-phone-number"
                   placeholder="(xxx) xxx-xxxx"
                   maxlength="17">
          </div>
        </div>
        <div class="row">
          <div class="form-group" [ngClass]="{'has-error':!contactForm.controls['contact-message'].valid && contactForm.controls['contact-message'].touched}">
            <label for="contact-message">Message*</label>
            <textarea rows="5"
                      type="text"
                      id="contact-message"
                      class="form-control"
                      [ngModel] ="contactInfo.message"
                      formControlName="contact-message"
                      placeholder="What brings you here?"></textarea>
            <app-error-messages [control]="contactForm.controls['contact-message']"></app-error-messages>

          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success btn-block" type="submit" [disabled]="!contactForm.valid">Submit</button>
          </div>
        </div>
      </form>
    <div class="text-center col-xs-12 col-sm-offset-3 col-sm-6 col-sm-offset-3" [ngClass]="submitted==true? 'visible-trans':'hidden-trans'">
      <h4>Thank You For Your Submission!</h4>
    </div>
  </div>
  <!--</div>-->
  <!--</div>-->
</div>
