<div class="section-style overlay-cream">
  <div class="container">
    <div class="row">
      <div class="text-center col-xs-12
                col-md-offset-2 col-md-8 col-md-offset-2">
        <h1>
          Speaking
        </h1>
        <hr role="presentation">
      </div>
    </div>

    <div class="row col-md-offset-1 col-md-10 talk-description">
        <img src="/assets/email-js-talk.jpg" class="col-xs-12 col-sm-4 col-md-4 talk-image" alt="Image of Alex giving a Meetup talk about accessibility">
        <div class="col-xs-12 col-sm-8 col-md-8 ">
          <h3>Keeping in Touch with EmailJS</h3>
          <h4>Audience: CharmCityJS Meetup Group</h4>
          <p>
            A talk about developing with the EmailJS Service to help send emails from a REST endpoint. As a part of this presentation, 
            I went over how to make rest calls to the EmailJS API, set up templates for uniform email messaging, and an example of how
            I use the service for my personal website.
          </p>
          Click here to download: <a href="/assets/Keep-In-Touch-With-EmailJS.pdf">Keeping in Touch with EmailJS Powerpoint</a>
        </div>
    </div>

    <div class="row col-md-offset-1 col-md-10 talk-description">
        <div class="col-xs-12 col-sm-8 col-md-8 ">
          <h3>Developing sites for User Inclusivity: A Talk About Web Accessibility</h3>
          <h4>Audience: CharmCityJS Meetup Group</h4>
          <p>
            A talk about accessibility that covered the reasons why developers should strive to meet Accessibility Standards, such as WCAG. 
            Testing tools and best development practices were described with several real-world examples.
            I then went over the business value for adding the necessary features so that the members of the audience 
            could return to their jobs with ways to backup the process change.
          </p>
          Click here to download: <a href="/assets/Developing-Websites-for-User-Inclusivity.pdf">Developing Websites for User Inclusivity Powerpoint</a>
        </div>
        <img src="/assets/accessibility-talk.jpg" class="col-xs-12 col-sm-4 col-md-4 talk-image" alt="Image of Alex giving a Meetup talk about accessibility">
    </div>

    <div class="row col-md-offset-1 col-md-10 talk-description">
      <div class="col-xs-12">
        <h3>Introduction to Angular</h3>
        <h4>Audience: T. Rowe Price, Towson University, Bellese Technologies, ManTech International</h4>
        <p>
          A talk about the current state of the Angular framework. I demonstrated the following concepts: 
          Modules, Components, Templates, Services, Metadata, Data Binding, Directives, and Lifecycle hooks.
          During the presentation I also touched on Typescript and the benefits of using the superset of 
          JavaScript in Frameworks such as Angular.
        </p>
        Click here to download: <a href="/assets/Introduction-to-Angular.pdf">Introduction to Angular Powerpoint</a>
      </div>
    </div>

    <div class="row col-md-offset-1 col-md-10 talk-description">
      <div class="col-xs-12">
        <h3>Hello Cloud Workshop</h3>
        <h4>Audience: Towson University</h4>
        <p>
          A workshop that was an extension of my Introduction to Angular talk. During the workshop, 
          Saurabh Khatiwada and I went over the fundamentals of the Angular framework, instructed 
          students on how to upload their code to Github, then deploy that code to an AWS S3 bucket.
          The students could then view their live website in the browser by hosting their code in the cloud.
        </p>
      </div>
    </div>

    <div class="row col-md-offset-1 col-md-10 talk-description">
        <div class="col-xs-12">
          <h3>Scheduling and Path Planning for Computational Ferrying</h3>
          <h4>Audience: G2 Inc.</h4>
          <p>
            A presentation and overview of the IEEE published paper written by Sebastián Zanlongo, Leonardo Bobadilla, Tamim Sookoor, and me. 
            In this paper, we extend previous work on computational ferrying, where Mobile High Performance Computers (MHPCs) 
            physically move the necessary hardware into the proximity of mobile devices. Our extension proposed several improvements: 
            1) Path planning which yields more accurate scheduling; 2) Collision checking, which permits robots to carry out the role of MHPCs; 
            3) Prioritization, allowing operators to assign weights to tasks.
          </p>
          Click here to download: <a href="/assets/Scheduling-and-Path-Planning-for-Computational-Ferrying.pdf">Scheduling and Path Planning for Computational Ferrying Powerpoint</a>
          <br>
          <!-- Click here to view: <a href="https://ieeexplore.ieee.org/document/7795399">Scheduling and Path Planning for Computational Ferrying Paper</a> -->
        </div>
    </div>

  </div>
</div>
