<div id="speaking" class="section-style overlay-cream">
  <div class="container">
    <div class="row">
      <div class="text-center col-xs-12
                col-md-offset-2 col-md-8 col-md-offset-2">
        <h1>
          Speaking
        </h1>
        <hr role="presentation">
      </div>
    </div>

    <div class="row">
        <div >
        <div class="col-xs-12 col-sm-8 col-md-8">
          <h4>Developing sites for User Inclusivity: a talk about web accessibility</h4>
          <p>
            Gave a talk about accessinbility for the CharmCityJS meetup group in Baltimore, MD. 
            The talk covered the reasons why developers should strive to meet Accessibility Standards, such as WCAG. 
            Testing Tools and best development practices were descibed with several real-world examples.
            I then went over the business value for adding the necessary features so that the members of the audience 
            could return to their jobs with ways to backup the process change.
          </p>
          <br>
          Click here to download: <a href="../assets/Developing-Websites-for-User-Inclusivity.pptx">Developing Websites for User Inclusivity Powerpoint</a>
        </div>
        <img src="../assets/accessibility-talk.jpg" class="col-xs-12 col-sm-4 col-md-4" alt="Image of Alex giving a Meetup talk about accessibility">
        </div>
    </div>
  </div>
</div>
