<div id="home" class="bg-image">
  <div class="banner-content-wrapper">
    <div class="container">
      <div class="row">
        <div class="hero-section-text col-xs-12 col-sm-offset-2 col-sm-8 col-sm-offset-2">
          <h1>Alex Wilson</h1>
          <div class="horizontal-line"></div>
          <h4>Creative Technical Solution Engineer (Developer)</h4>
        </div>
      </div>
      <div class="row">
        <div class="banner-arrow-wrapper">
          <div class="arrow bounce col-xs-12">
            <a href="#about" class="glyphicon glyphicon-chevron-down" (click)="scroll('about', $event)"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
