.star-icon {
  color: lightgray;
  font-size: 15px;
  content: '\2605'; /* Full star in UTF8 */
  position: relative;
}

.star-icon.full:before {
  color: #e35a2e;
  content: '\2605'; /* Full star in UTF8 */
  position: absolute;
}

.star-icon.empty:before{
  color: lightgray;
  content: '\2605'; /* Full star in UTF8 */
  position: absolute;
}

/*.ability-set:hover #stars{*/
  /*font-size: 18px;*/
  /*width:15px;*/
  /*height:10px;*/
  /*overflow: visible;*/
  /*float: right;*/
/*}*/

ul.no-bullets {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li .ability-title {
  display: inline-block;
  width: 50%;
}

hr{
  border: 1px solid lightgray;
}
