/* You can add global styles to this file, and also import other style files */
.section {
  background-size: cover;
  min-height: 100vh;
  height: auto;
  padding-bottom: 35px;
  padding-top: 35px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-attachment: fixed;
}

body{
  font-family: 'raleway', sans-serif;
}

.overlay-white{
  background-color: white;
}

.overlay-cream{
  background-color: #fff7e5;
}
